* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid lightgray;
    padding: 10px 20px;
    /* align-items: center; */
}



button {
    width: 100px;
    align-self: center;
    padding: 5px 10px;
}
